/* ---------------------------------------------------------------------------------------------
 * HEADER
 */

header
{
    height: 30px;
}

header .navbar-brand-img
{
    height: 30px;
}


header form span.input-group-text-search
{
    padding-top: 20px;
}

/* ---------------------------------------------------------------------------------------------
 * MAIN
 */

main .console
{
    background-image: url("../img/landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    height: 600px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 10%;
    display: inline-block;
    overflow: auto;
}


/* ---------------------------------------------------------------------------------------------
 * FOOTER
 */

footer
{
    min-height: 50px;
    background-color: rgba(72,72,72,0.75);
    color: rgba(219,219,219,0.75);
}

footer h4
{
    margin-top: 1em;
}
