/* ----------------------------------------------------------------------------------------
GLOBAL  */


/* ----------------------------------------------------------------------------------------
HEADER  */

header nav
{
    height: 40px;
}

header nav img.navbar-brand-img
{
    height: 40px;
}


/* ----------------------------------------------------------------------------------------
MAIN  */

main
{
    margin-top: 2em;
    margin-bottom: 2em;
}


/* ----------------------------------------------------------------------------------------
FOOTER  */

footer
{
    background-color: #414a42;
    color: #fff;
}

footer h4
{
    margin-top: 2em;
}

footer img
{
    margin-bottom: 3em;
}

footer address
{
    color: #edf6ee;
    margin-top: 2em;
}