/* ---------------------------------------------------------------------------------------------
 * MAIN
 */

header
{
    height: 50px;
}

header .navbar-brand img
{
    height: 40px;
}


/* ---------------------------------------------------------------------------------------------
 * FOOTER
 */

footer
{
    min-height: 50px;
}
