/* ---------------------------------------------------------------------------------------------------
 * HEADER */

header
{
    height: 40px;
}

header img.navbar-brand-img
{
    height: 35px;
}

/* ---------------------------------------------------------------------------------------------------
 * Main   */

main
{
    margin-top: 2em;
}

main div.console
{
    background-image: url("../img/landscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px;
    height: 600px;
}

/* ---------------------------------------------------------------------------------------------------
 * FOOTER */

footer
{
    background: #444444;
    color: #fff;
    min-height: 50px;
}

footer h4, footer h5
{
    color: #fff;
    margin-top: 2em;
}

footer a.h5
{
    margin-top: 2em;
}

footer a, footer a:hover
{
    color: #fff;
    text-decoration: none;
    text-underline: none;
}

footer address, footer img
{
    margin-top: 2em;
    margin-bottom: 2em;
}