/* -------------------------------------------------------------------------------------------
 * HEADER */

header
{

}

header nav
{
    height: 40px;
}

header nav img.navbar-brand-img
{
    height: 35px;
}

/* -------------------------------------------------------------------------------------------
 * MAIN */

/* -------------------------------------------------------------------------------------------
 * FOOTER */

footer {
    min-height: 50px;
    background-color: rgba(66,66,66,0.75);
    color: #ffffff;
}

footer nav
{
    margin-top: 1em;
    margin-bottom: 2em;
}