/* ------------------------------------------------------------------------------------------
GLOBAL */



/* ------------------------------------------------------------------------------------------
HEADER */

header nav
{
    height: 40px;
}

header nav img.navbar-brand-img
{
    height: 38px;
}

/* ------------------------------------------------------------------------------------------
MAIN */

main
{
    color: #fff;
}

main div.wrap-content
{
    margin-top: 20%;
    margin-bottom: 20%;
}

/* ------------------------------------------------------------------------------------------
FOOTER */

footer {
    background: #4b4b4b;
    color: #fff;
}

