/* GLOBAL ---------------------------------------------------------------------------- */

/* HEADER ---------------------------------------------------------------------------- */

header img.navbar-brand-img
{
    height: 30px;
}

/* MAIN ---------------------------------------------------------------------------- */

/* FOOTER ---------------------------------------------------------------------------- */

footer
{
    background-color: rgba(36,36,36,0.75);
    color: white;
}

footer nav
{
    margin-top: 2em;
}