/* ----------------------------------------------------------------------------------------
GLOBAL */

* {
    box-sizing: border-box;
}

/* ----------------------------------------------------------------------------------------
HEADER */

header {
    height: 40px;
}

header nav img.navbar-brand-img
{
    height: 35px;
}

/* ----------------------------------------------------------------------------------------
MAIN */

main .console
{

}

/* ----------------------------------------------------------------------------------------
FOOTER */

footer
{
    background: #4b4b4b;
    color: #fff;
    min-height: 50px;
}

footer h4, h5
{
    color: #fff;
}