/* ----------------------------------------------------------------------------------------
GLOBAL */

* {
    box-sizing: border-box;
}

/* ----------------------------------------------------------------------------------------
HEADER */

header {
    height: 40px;
}

header nav img.navbar-brand-img
{
    height: 35px;
}

header nav form
{
    height: 35px;
}

header nav form button
{
    height: 35px;
    width: 80px;
}

/* ----------------------------------------------------------------------------------------
MAIN */

main .console
{

}

/* ----------------------------------------------------------------------------------------
FOOTER */

footer
{
    background: #4b4b4b;
    color: #fff;
    min-height: 50px;
}

footer address
{
    color: #fff;
    font-size: 14px;
}

footer h4, h5
{
    color: #fff;
    margin-top: 2em;
}

footer h5 a
{
    color: #fff;
    text-decoration: none;
    text-underline: none;
}